body {
    background-color: rgb(31, 32, 31);
    color: rgb(237, 237, 230);
    margin: 0;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box; /* Include padding in width/height calculations */
}

/* .imgbox, #grid, .slidercontainer, form {
    border: 2px solid hsl(0, 0%, 50%);
    border-radius: 4px;
} */

.imgbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vh;
}

img {
    flex-shrink: 1;
    height: auto;
    max-width: 50%;
}

main {
    display: flex;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 8px;
}

.slidercontainer {
    margin-right: auto;
    text-align: center;
    width: 50vh;
}

.slider {
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
}

#grid {
    margin-top: 8px;
    padding: 8px;
    display: grid;
    width: calc(100vmin - 16px);  /* Subtract body padding (8px * 2) */
    height: calc(100vmin - 16px); /* Subtract body padding (8px * 2) */
    box-sizing: border-box;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr)); /* Dynamically defined */
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));    /* Dynamically defined */
}

p {
    margin: 0px; /* overriding inherited margin */
}

.gridBox {
    /* border: 1px solid hsl(0, 0%, 50%); /* for visualization*/
    box-sizing: border-box;
}
